/* common ----------------------------------------------------------------------------S */
html.on, body.on{overflow-y: hidden;}
.inner{width: 1400px; padding: 0 20px; margin: 0 auto;}
#wrapper{width: 100%;}
:root{
    --color-white : #fff;
    --color-transwhite : rgba(255,255,255,0.8);
    --color-normal : #333;
    --color-transblack : rgba(0,0,0,0.5);
    --color-hoverviolet : #ab89ff;
    --color-darkviolet : #41306b;
}
section{}
.content{width: 100%;}
.con_title{padding-bottom: 2em; text-align: center; font-size: 3rem; font-weight: bold;}
.con_title h3{}
.con_title span{color: lightskyblue;}
/* common ----------------------------------------------------------------------------E */


/* header ----------------------------------------------------------------------------S */
header.hdrBg{background-color: var(--color-transwhite); border-bottom: 1px solid #ddd;}
header.hdrBg #gnb>li>a, header.hdrBg .bar>i{color: var(--color-normal);}
header{width: 100%; position: fixed; top: 0; left: 0; transition: .3s; -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s; z-index: 10;}
nav{display: flex;justify-content: space-between;align-items: center;}
#gnb{display: flex; align-items: center; gap: 3em;}
#gnb>li{padding: 2.5em 0;}
#gnb>li>a{}
header .bar{cursor: pointer;}
header .bar>i{}
#gnb>li>a, header .bar>i{color: var(--color-white);font-weight: bold;font-size: 1.5rem; transition: .3s; -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s;}
#gnb>li:hover>a, header .bar:hover>i{color: var(--color-hoverviolet) !important;}

.mobile_nav{display: none; position: fixed; top: 0; width: 100%; height: 100vh; transition: .3s; -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s;}
.mobile_nav .mask{display: none; width: 100%; height: 100%; background-color: var(--color-transblack); position: fixed; top: 0; left: 0; transition: .3s; -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s;}
.mgnb{display: flex; flex-direction: column; align-items: center; justify-content: center; width: calc(100% - 70%); height: 100%; background: var(--color-darkviolet) url('../img/patterns.png') center / 50px 50px repeat; position: absolute; top: 0; right: -200%; border-radius: 30px 0 0 30px; transition: .3s;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;}
.mgnb>li{text-align: center;padding: 1em 0;}
.mgnb>li:hover>A{color: var(--color-hoverviolet);}
.mgnb>li:nth-child(1){padding-bottom: 3em;}
.mgnb>li:nth-child(1) a{width: 100px;}
.mgnb>li:nth-child(1) img{width: 100%; vertical-align: top;}
.mgnb>li>a{display: block; color: var(--color-white); font-size: 2rem; font-weight: bold; transition: .3s; -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s;}
.close_btn{position: absolute; top: 40px; right: 40px; cursor: pointer;}
.close_btn>i{color: var(--color-white);font-size: 3em; transition: .3s; -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s;}
.close_btn>i:hover{color: var(--color-hoverviolet);}
.mobile_logo{display: none; animation: penguinlogo .5s linear 0s infinite  alternate;}
.mobile_logo a{display: block;width: 40px;padding: 15px 0;}
.mobile_logo img{width: 100%; vertical-align: top;}
.mobile_nav.on{display: block;}
.mobile_nav.on .mask{display: block; cursor: pointer;}
@keyframes penguinlogo {
    0% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}
/* header ----------------------------------------------------------------------------E */


/* footer ----------------------------------------------------------------------------S */
footer{width: 100%;background-color: var(--color-darkviolet);}
footer>.inner{}
footer p{text-align: center;padding: 2em;color: #716199;}
/* footer ----------------------------------------------------------------------------E */


/* scroll top ----------------------------------------------------------------------------S */
.top_btn{padding: 1em 1.5em;background-color: #7359b5;text-align: center;border-radius: 10px 0 0 10px;position: fixed;bottom: 100px;right: -100%;transition: .3s;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;cursor: pointer;z-index: 2;}
.top_btn:hover{background-color: #7c5fc5;}
.top_btn:hover>i, .top_btn:hover>span{color: var(--color-white);}
.top_btn>i, .top_btn>span{color: #e0d4fc; font-weight: bold; transition: .3s; -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s;}
.top_btn>i{font-size: 1.8rem;}
.top_btn>span{display: block; margin-top: 5px;}
/* scroll top ----------------------------------------------------------------------------E */